@import '../sass/core';

.customDateContainer,
.buttonsContainer {
    display: inline-block;

    input {
        padding: 0 5px;
        height: 25px;
        width: 90px;
        text-align: center;
        border: none;
        border-bottom: 3px solid $primaryColourComplement;
        cursor: pointer;
        transition: border 200ms ease-in-out, color 200ms ease-in-out;

        &:hover {
            border-color: $primaryColour;
        }
    }

    button {
        + button {
            margin-left: 10px;
        }
    }
}

.betweenDate {
    margin: 0 1rem;
}

.customDateContainer {
    margin-left: 30px;
}

.buttonsContainer {
    margin-left: 20px;
}

.buttonCancel,
.buttonApply {
    background: none;
    height: 30px;
    border-radius: 3px;
    width: 60px;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.buttonCancel {
    &:hover {
        background: $primaryColourComplement;
    }
}

.buttonApply {
    background: $primaryColour;
    color: #fff;

    &:hover {
        background: $secondaryColour;
        color: #000;
    }
}

.datePickerCalendar {
    :global {
        .react-datepicker__day--in-range {
            background: $primaryColour;
            color: #fff;
        }

        .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
            background: $secondaryColour;
        }
    }
}