@import '../sass/core';

.dateSelectContainer {
    @extend %shadow;
    border-bottom: 3px solid $primaryColour;
    background: #fff;
    vertical-align: top;
    width: calc(60% - 1rem);
    margin-right: 1rem;
    display: inline-block;
}

.predefinedButton {
    height: 100%;
    padding: 0 15px;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;

    &:hover,
    &.isActive {
        background: $primaryColour;
        color: #fff;
    }
}

.predefinedButtonsContainer {
    display: inline-block;
}